@import "values";
@import "flexbox";



header {
  padding: 15px;

   .logo {
    color: white;
    justify-content: center;
  }

  .header-images {
    .display-flex;
    flex-direction: row;
    justify-content: space-between;

    img {
      .flex(1 1 33%)
    }
  }
}