* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

@import "seattletimes";
@import "flexbox";
@import "page";

@parks-green: #BD7;

.bracket {
  font-family: @df-sans;
  .display-flex;
  padding: 8px;
  max-width: 1650px;
  .justify-content(center);
  height: 99999px; //stupid Firefox hack
  max-height: 600px;
  overflow: hidden;
  .align-items(stretch);

  .list-pane {
    .flex(0 0 320px);
  }

  .focus-pane {
    .flex(1);
  }
}

@import "detail-pane";
@import "list-pane";