* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

@import "seattletimes";
@import "flexbox";
@import "page";

@parks-green: #585;

.bracket {
  .display-flex;
  padding: 8px;

  .list-pane {
    .flex(0 0 320px);
  }

  .focus-pane {
    .flex(1);
  }
}

.list-pane {
  .display-flex;
  .flex-direction(column);
  max-height: 800px;

  .round-selection {
    .display-flex;
    .align-items(center);

    .shift-round {
      .flex(0);
      font-size: 24px;
      background: @df-light-gray;
      padding: 8px;
    }

    h1 {
      .flex(1);
      text-align: center;
    }
  }

  .round {
    list-style-type: none;
    overflow: auto;
    padding: 4px;
    margin: 0;
    .flex(1);
    box-shadow: inset 0 0 8px rgba(0, 0, 0, .3);
  }
}

.matchup {
  margin-bottom: 8px;
  position: relative;
  padding: 8px;
  border-bottom: 1px solid @df-middle-gray;
  cursor: pointer;

  &.selected {
    background: @parks-green;
    border: none;
  }
}

.card {
  position: relative;
  padding: 8px;
  background: white;
  margin-bottom: 2px;
  font-family: @df-sans;

  .result {
    font-size: 12px;
  }

  .icons {
    font-size: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 8px;

    .vote {
      color: @df-middle-gray;

      &:hover {
        color: @parks-green;
      }
    }
  }

  .voted & {
    background: #f8f8f8;
    color: #333;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .1);
  }
}

.detail-pane {
  .flex(1);
  padding: 8px;

  .match-details {
    .display-flex;
    .justify-content(space-between);

    .candidate {
      .flex(0 0 48%);
      padding: 32px;
      background: white;
      box-shadow: 4px 4px 16px rgba(0, 0, 0, .3);
    }
  }
}