<%= data.candidate.details.name %> - <%= data.candidate.details.title %>
<div class="details">
  <p class="chatter">
    this space intentionally left blank. this space intentionally left blank. 
  </p>
  <div class="voting">
    Chosen by <%= (data.candidate.votes / data.match.total * 100).toFixed(1) %>% of voters
  </div>
  <% if (data.round.current) { %>
  <a class="vote button" href="javascript:;" data-vote="<%= data.candidate.id %>">Vote for <%= data.candidate.details.name %></a>
  <% } %>
</div>