<h1><%= data.round.title %></h1>
<% data.round.matchups.forEach(function(match, i) { %>
<div class="matchup" data-index="<%= i %>">
  <% ["top", "bottom"].forEach(function(side, i) { %>
  <% var candidate = match.options[i]; %>
    <div class="<%= side %> card <%= candidate.id == match.winner ? "winner" : "" %>" data-candidate="<%= candidate.id %>">
      <%= candidate.details.name %> - <%= candidate.details.title %>
      <div class="details">
        <p class="chatter">
          this space intentionally left blank. this space intentionally left blank. 
        </p>
        <div class="voting">
          Chosen by <%= (candidate.votes / match.total * 100).toFixed(1) %>% of voters
        </div>
        <% if (data.round.current && !match.voted) { %>
        <a class="vote button" href="javascript:;" data-vote="<%= candidate.id %>">Vote for <%= candidate.details.name %></a>
        <% } %>
      </div>
    </div>
  <% }); %>
</div>
<% }); %>