<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <%= t.include("partials/_adHead.html") %>
  </head>
  <body ng-app="brackets">

    <main class="bracket" ng-controller="bracket-controller">

    
      <section class="round" ng-repeat="round in bracket.rounds">
        <h1>{{round.title}}</h1>
        <div 
          ng-repeat="match in round.matchups"
          ng-class="{ voted: match.voted, expanded: match.expanded }"
          class="matchup"
          ng-click="match.expanded = !match.expanded"
        >
            <div 
              ng-repeat="candidate in match.options"
              ng-class="{
                won: match.winner == candidate.id,
                chosen: candidate.id == match.voted
              }"
              class="card {{$first ? 'top' : 'bottom'}}"
            >
              <div class="icons">
                <i class="fa fa-star win-marker" ng-if="match.winner == candidate.id"></i>
                <i class="fa fa-check vote-marker" ng-if="match.voted == candidate.id"></i>
                <i class="fa fa-spinner fa-spin voting-marker" ng-if="candidate.voting"></i>
              </div>
              {{ candidate.details.name }} - {{ candidate.details.title }}
              <div class="details">
                <p class="chatter">
                  this space intentionally left blank. this space intentionally left blank. 
                </p>
                <div class="result">
                  Chosen by {{ candidate.votes / match.total * 100 | number:1 }}% of voters
                </div>
                <a
                  ng-if="round.current && !match.voted"
                  ng-click="vote(candidate, match)"
                  class="vote button"
                >Vote for {{ candidate.details.name }}</a>
              </div>
            </div>
        </div>
      </section>
    
    </main>

    <script>
window.bracket = <%= JSON.stringify(grunt.data.bracket) %>;
window.config = {
  sheet: "<%= json.project.sheets[0] %>",
  endpoint: "<%= json.project.endpoint %>",
  page: "<%= json.package.name %>"
};
    </script>

    <script src="app.js"></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_adFoot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
